<section class="header">
  <p class="logo">
    <a href="#">Tutor<span class="letter">u</span></a>
  </p>
  <nav>
    <ul>
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">Current Request</a>
      </li>
      <li>
        <a href="#">Account</a>
      </li>
      <li>
        <a href="#">Settings</a>
      </li>
    </ul>
  </nav>
</section>

<div class="clearfix"></div>

<div class="wrapper">

  <div class="main-chapter">
    <h1>Welcome<br>
      to
      <span class="tutoru">Tutor<span class="letter-h1">u</span>!</span></h1>
    <p class="lorem">Lorem ipsum dolar sit amet, consectetur<br>
      incididunt ut labore et dolare magna aliqua.</p>
  </div>

  <div class="woman-bg">
    <img src="<%= asset_pack_path 'media/images/illustration.png' %>"/>
  </div>

  <div class="our-services">
    <div class="regist">
      <a href="#">
        <img src="<%= asset_pack_path "media/images/icon1.svg" %>" class="apple"/>
        <h3>Create Account</h3>
        <p>Lorem ipsum color<br>
          sit amet, ipsum</p>
      </a>
    </div>

    <div class="regist second-block">
      <a href="#">
        <img src="<%= asset_pack_path "media/images/icon2.svg" %>"/>
        <h3>Sign In</h3>
        <p>Lorem ipsum color<br>
          sit amet, ipsum</p>
      </a>
    </div>

    <div class="regist">
      <a href="#">
        <img src="<%= asset_pack_path "media/images/icon3.svg" %>" class="glass"/>
        <h3>New Tutor</h3>
        <p>Lorem ipsum color<br>
          sit amet, ipsum</p>
      </a>
    </div>
  </div>

</div>
